#toast-container{
  top:30px;
  right: 20px;
  left: auto;
}

.btn-block {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  font-size: 2rem;
  text-transform: none;
}

.btn-block i {
  font-size: 5rem;
}

nav {
  background-color: rgba(0, 255, 0, 0);
}

nav .brand-logo {
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

.material-icons {
  margin-right: -10px;
}

.font-body {
  font-family: 'Inter', sans-serif;
}

/* .homepage {
  background-image: url(../public/images/homepage1.jpg) no-repeat; 
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
} */

.homepage-image {
  width: 100%;
  height: 100%;
}

.homepage-header {
  font-size: 40px;
  font-weight: 500;
}

.homepage-slogan {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.homepage-motto {
  font-size: 16px;
  font-weight: 400;
}
