
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');

#toast-container{
  top: 30px;
  right: 20px;
  left: auto;
}

a {
  color: #93EFFE;
}

a :hover {
  color: white;
}


/* == NAVBAR == */

nav {
  background-color: rgba(0, 255, 0, 0);
}

nav .brand-logo {
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

/* logout button */
nav .logout-button {
  color: white;
  border: 1px solid white;
  background-color: #9e59fb;
  margin-right: 30px;
  margin-left: 10px;
}

nav .logout-button :hover {
  background-color: #93EFFE;
}

/* language drop down */
nav .dropdown-content {
  align-items: center;
  text-align: center;
  background-color: white;
  font-family: 'Inter', sans-serif; 
  border-radius: 10px;
}

nav .dropdown-text {
  font-family: 'Inter', sans-serif; 
  color: white;
}

nav .dropdown-text :hover {
  background-color: #9e59fb;
}

.language-icon :hover {
  border: none;
}

.material-icons {
  /* size: 10px; */
}

/* == HOMEPAGE == */

.font {
  font-size: 0.8vw;
}

.homepage-image {
  width: 129%;
  height: 126%;
  /* position: sticky; */
}

.homepage-image-cropped {
  width: 250px; /* width of container */
  height: 448px; /* height of container */
  object-fit: cover;
  position: relative;
}

.homepage-image-position {
  /* position: relative;
  vertical-align: bottom; */
}

.homepage-header {
  font-size: 2.8vw;
  font-weight: 300;
  padding: 0;
}

.homepage-slogan {
  font-size: 1.3vw;
  font-weight: 200;
  font-style: italic;
}

.homepage-motto {
  font-size: 0.9vw;
  font-weight: 400;
}

.homepage-top-divide {
  position: relative;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 145px;
  margin: 0;
}

.homepage-bottom-divide {
  background-color: #70A7FC;
  margin: 0;
  /* padding-top: 10px;
  padding-left: 132px;
  padding-right: 132px;
  padding-bottom: 132px; */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.call-to-action {
  padding: 50px;
}

.call-to-action-button {
  background-color: #9e59fb;
  font-size: 0.7vw;
}

button .call-to-action-button {
  padding: 10px;
}


.call_to_action_title {
  font-size: 0.9vw;
  font-weight: 500;
}

/* == SIGN UP AND LOGIN PAGES ==  */
.card{
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 30px;
  text-align: center;
  max-width: 450px;
  margin: 10px auto;
  color: #ffffff;
}

/* .mother-image {
  margin-right: -70%;
  margin-left: auto;
  width: 10;
  height: 10;
  /* position: sticky; */


/* == MOTHER REQUESTS PAGE == */

/* container box */
.order-list {
  margin-top: 50px;
}

.m-requests-items {
  /* margin-left: 100px; */
}

/* request item images */
.m-requests-img {
  width: 22%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.request_item_added_title {
  margin-left: 50px;
  font-size: 1.1vw;
  margin-top: 50px;
}

.request_item_added {
  margin-left: 50px;
  font-size: 0.8vw;
}

/* request question */
.m-requests-question {
  font-size: 2vw;
}

/* mother request items form */
.m-request-form {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 35px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  resize: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 120px;
}

/* mother type in your request */
.m-request-type-request {
  font-size: 1.2vw;
  font-weight: 300;
  color: white;
}

/* request placeholder text */
.m-request-type-request ::placeholder {
  color: black;
  font-size: 0.8vw;
}

/* requests in your area box */
.m-list-requests-box {
  background-color: #9e59fb;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  opacity: 95%;
}

.m-requests-list {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 0.7vw;
  width: auto;
  height: 30vh;
  border-radius: 10px;
  overflow: scroll;
  margin-bottom: 30px;
  margin-left: -10px;
}

.requested-city-title {
  font-size: 1.1vw;
  margin-top: 50px;
  margin-left: -10px;
  margin-bottom: 14px;
}


/* request details - name, city */
.m-request-details {
  font-size: 0.7vw;
  font-style: italic;
}

/* == DONOR REQUEST PAGE == */

.d-requests-title {
  font-size: 1.5vw;
  margin-bottom: 5px;
}

.d-requests-question {
  font-size: 0.8vw;
  margin-right: 700px;
  margin-bottom: -10px;
}

.donor-request-buttons {
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.donor-fulfill-button {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.d-requests-list {
  font-size: 0.8vw;
  width: auto;
  height: 450px;
  overflow: scroll;
}

.donor-requests-box {
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  opacity: 95%;
  margin-top: 10px;
  padding-left: 15px;
  background-color: #70A7FC;
  opacity: 95%;
}

.donor-fulfillment {
  font-size: 0.9vw;
  margin-bottom: 30px;
}

.donor-image {
  width: 90%;
}

/* == MOTHER PROFILE PAGE == */

.profile {
  margin-top: 50px;
}

.m-profile-title {
  font-size: 2vw;
  margin-top: -7px;
  color: white;
}

.profile-headers {
  font-size: 0.8vw;
  font-weight: 600;
  padding-right: 18px;
}

.profile-details-box {
  background-color: #8789fc;
  padding: 10px;
  border-radius: 10px;
  margin-right: 30px;
  margin-top: 30px;
}

.profile-input {
  font-size: 0.8vw;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
}

/* mother profile placeholder text */
.m-profile-edit-form ::placeholder {
  font-size: 0.8vw;
}

.m-profile-edit-form {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 35px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  resize: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 20vh;
}

.m-profile-icons {
  width: 100%;
  margin-top: 40px;
}

.m-profile-requests-list {
  font-size: 0.8vw;
  width: auto;
  height: 450px;
  overflow: scroll;
  text-align: center;
}

.m-profile-request-statement {
  margin-top: 10px;
  margin-right: 80px;
  font-size: 0.9vw;
}

.m-your-requests {
  font-size: 1.1vw;
  margin-top: 10px;
  margin-left: -5px;
  margin-bottom: 14px;
}

.m-profile-manage-requests-button {
  margin-left: 150px;
}

.m-profile-requests-section {
  margin-bottom: 30px;
}

.m-profile-update {
  font-size: 1.1vw;
  margin-top: 30px;
  margin-left: -5px;
}

/* == ABOUT US PAGE == */

.contact-us-form {
  border-radius: 10px;
  height: 29.5vh;
}

.contact-form-button {
  margin-top: -20px;
  margin-left: 400px;
}

.about-us-how-it-works {
  background-color: #9e59fb;
  border-radius: 10px;
  padding: 20px;
  margin-right: 30px;
  font-size: 0.61vw;
}

.about-us-header {
  font-size: 2.8vw;
  font-weight: 300;
  padding: 0;
}

.about-us-image {
  width: 28vw;
  margin-left: 25px;
  margin-top: 50px;
  border-radius: 30px;
  align-items: center;
}

.about-us-blurb {
  margin-right: 37px;
  font-weight: 300;
  font-size: 0.8vw;
}

.about-us-works-header {
  font-size: 1.5vw;
  margin-top: -5px;
}

/* == MOTHER MANAGE REQUESTS == */

.manage-request-page {
  margin-top: 50px;
}

.active-requests-title-text {
  font-size: 0.8vw;
}

.active-requests-header {
  font-size: 1.3vw;
  text-align: left;
  margin-bottom: 30px;
}

.requests-boxes {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}