body {
  margin: 0;
  font-family: 'Inter', sans-serif; 
  /* need to add extra font families for different browsers */

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/homepage-background.jpg); 
  /* background-size: cover; */
  background-size: 100vmax;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  white-space: pre-line;
}

.input-field label {
  pointer-events: none;
}

.input-field .prefix {
  z-index: -1;
}

#nav-mobile .material-icons {
  line-height: 2.5;
}
